@import "normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$primary: #ffcc00;
$primary-font:'Raleway',sans-serif;
$heading-font:'Roboto',sans-serif;


body{
	font: 500 14px/1.7 'Raleway', sans-serif;
	color: #333;
}



/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
}
h1,h2,h3,h4,h5,h6 {

	font-weight: 900;
	line-height: 1.2;
	font-family: $heading-font;


}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border-width: 1px;
border-color:  #ffcc00;
border-style: solid;
width: 118px;
height: 22px;
text-decoration: none;
line-height: 1.5;
font-family: OpenSans;
color:  #666666;
font-size: 14px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
&:hover {
	color: #FFF;
	background-color: $primary;

}
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-team {
	padding: 110px 0;
	text-align: center;
	&__title{
		text-transform: uppercase;
		font-size: 60px;
		color: $primary;
		position: relative;
		margin-top: 0px;
		&:after{
			content: "";
			display: block;
			width: 450px;
			height: 1px;
			background: $primary;
			margin: 35px auto 0;
		}
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			background:#fff url(../img/bonfire.svg) 50% no-repeat;
			height: 20px;
			width: 40px;
			transform: translate(-50%, 50%)
		}
	}
		&__position {
			font-family: Raleway;
color:  #666666;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: center;
margin-top: 0px;
		}
	&__name {
		color:  #666666;
		font-size: 36px;
		text-align: center;
		letter-spacing: 0.02em;
		margin-bottom: 23px;
		&:after{
			content: "";
			display: block;
			width: 103px;
			height: 1px;
			background: $primary;
			margin: 24px auto 0;
		}

	}
	&__subtitle{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		color: #333;
		font-family: $primary-font;
		letter-spacing: 0.02em;
		color: #898f8f;
		margin: 0;
	}

}

.ba-team-slider {
	display: flex;
	&__image, &__content{
		flex:1 1 50%;
	}
	&__image {
		padding: 0 68px 0 83px;
		display: flex;
		align-items:center;
		img {
			border: 1px solid $primary;
			display: block;
			box-shadow:40px 0 0 -20px #fff,
			-40px 0 0 -20px #fff,
			0 40px 0 -20px #fff,
			0 -40px 0 -20px #fff;
		}

	}
	&__image-border {
		border: 1px solid $primary;
		padding: 15px;
	}
	&__content {
		padding: 55px 68px 70px 83px;
		border-left: 1px solid $primary;
	}
}


.ba-socials{
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		color: #ccc;
		border: 2px solid currentColor;
		border-radius:50%;
		text-align: center;
		padding: 5px;
		&:hover {
			color: $primary;
		}
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill:currentColor;
		}

	}
}
